#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=catplayer
Icon=catplayer_128x128.png
Name=catplayer
Type=Application
Comment=Basic video/music player app
Categories=AudioVideo;Player;Recorder;
Terminal=false
StartupNotify=true
Keywords=Player;Capture;DVD;Audio;Video;Server;Broadcast;
